* {
    margin: 0;
    padding: 0;
}

.o-scroll {
    overflow: scroll;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.grid-2-col {
    grid-template-columns: repeat(2, 1fr);
}

.gap-g {
    gap: 1em;
}

.gap-m {
    gap: .5em;
}

.gap-p {
    gap: .2em;
}

.p-10 {
    padding: 10px;
}

.modal-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000004a;
}

.modal {
    background-color: white;
    padding: 1em;
    border-radius: 0.5em;
    min-width: 50%;
}